<div class="container mt-5">
  <h1 class="text-center">Editar Pedido</h1>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'form' %>

      <div class="text-center mt-4">
        <%= link_to 'Voltar', order_path(@order.id), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>