<h1>Meus Pedidos</h1>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
<% else %>
  <div class="alert alert-warning" role="alert">
    <p>Você não possui nenhum pedido.</p>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>